* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  /* If Lato can't be displayed, arial will be etc. */
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  /* fonts will render perfectly */
  text-rendering: optimizeLegibility;
}
